

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #87bde7;
   
}
#control {
    width: 95%;
    margin: 0%;
    border: 0cap solid rgb(8, 8, 8);
    }
header {
background-color: blue;
line-height: 0.5px;
}
/* // modifico la barra de menu*/
#logo-container {
    display: flex;
    align-items: center;
  }
  
  #logo {
    width: 1700px; /* Cambia el tamaño de la imagen según tus necesidades */
    height: 200px;
    margin-right: 0px; /* Añade un margen derecho para separar la imagen del texto */
  }
  
  #titulo {
    color: blue; /* Cambia el color del texto a azul */
    text-align: center; 
  }

   

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color:blue;
    color: rgb(6, 2, 24);
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
  }
 

  /*// arrancamos con los menu */
  nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Quita el relleno de la lista */
    margin: 0; /* Quita los márgenes de la lista */
    overflow: hidden;
    background-color: #8c8888;
}
  
  nav li {
    display: inline; /* Muestra los elementos uno al lado del otro */
    margin-right: 20px; /* Añade un margen derecho para separar las opciones */
    float: left;
  }
  
  nav li a {
 text-decoration: none; /* Quita la decoración de texto subrayado en los enlaces */
padding: 24px  16px;
 background-color: black;  
 text-align: center;
}
  /* barra de costado*/
  aside {
    float:left; /* me deja ajustar para que section quede alado*/
    width: 150px; /*ancho*/
    height: 450px; ;
    background-color: #db2a2a;
    padding: 30px;
    
  }
  
  section {
    float:left; /* me deja ajustar para que section quede alado*/
    width: 1075px; /*ancho*/
    height: 380px; ;
    background-color: #35b71e;
    padding: 30px;

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 1cm;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: blue;
    transition: background-color 0.3s;
  }
  
  li a:hover {
    background-color: black;
  }
  /* fppter */
  footer {
    background-color: #cfefff;
    padding: 0.2cm;
  }
  
  footer p {
    margin: 0;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    margin-top: 1cm;
  }
  
  .social-media a {
    margin: 0 1cm;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
    background-color: #cfefff;
    border-radius: 50%;
    padding: 5px;
  }
  
  .social-media img:hover {
    background-color: #a0d8ff;
  }
  button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }